* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f5f7;
  color: #222;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.todo-container {
  width: 100%;
  max-width: 420px;
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.top {
  margin-bottom: 25px;
}

.top h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.top p {
  color: #666;
  font-size: 14px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.input-section button {
  border: none;
  background: #111827;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.input-section button:hover {
  background: #000;
}

#taskList {
  list-style: none;
}

#taskList li {
  background: #f9fafb;
  border: 1px solid #ececec;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: crimson;
  border: none;
  color: white;
  padding: 7px 10px;
  border-radius: 6px;
  cursor: pointer;
}